<footer class="footer bg-dark">

    <ul class="nav justify-content-center pb-3 ">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Features</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">Pricing</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">FAQs</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-white">About</a></li>
    </ul>
    <p class="text-center mb-0 text-white">&copy; 2023 FIFA</p>

</footer>
