@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
}

@media (min-width: 992px) {
    .dropdown-menu {
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 75px;
    }
}

.dropdown-menu {
    text-align: center;

}
